.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 50px;
  min-height: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.counters {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.counter-forms {
  margin-top: 50px;
}