.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 50px;
  min-height: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.counters {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.counter-forms {
  margin-bottom: 50px;
  color: #555;
}

.footer {
  padding: 20px;
  background-color: #555;
  color: white;
  font-size: 14px;
}