.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 50px;
  min-height: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-content {
  margin-top: 50px;
}

.new-button {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  background: white;
  padding: 10px;
  color: #555;
  line-height: 80px;
  border-radius: 10%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

.new-button:hover {
  background: #eee;
}